/*Connecting fonts-------------------*/

@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:900&display=swap);

/*zeroing*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 320px;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

/*Default styles---------------------*/

body {
    font-family: Rubik;
    font-weight: 400;
    font-size: 0.875rem;
    color: #646D70;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
/*Adaptive settings------------------*/

[class*="__container"] {
    max-width: 50.625rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

/*Modules----------------------------*/

.title {
    font-family: Merriweather;
    color: #fff;
    line-height: 130%;
    font-size: 1.875rem;
}
.title--dark {
    color: #222F33;
}

/*General styles---------------------*/

.page {
    flex: 1 1 auto;
}
.page__main {
}

/*Basic styles-----------------------*/

/*Header-----------------------------*/

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    min-height: 6.5625rem;
}
.header__logo {
    overflow: hidden;
}
.header__logo img {
    width: 8.4375rem;
}
.header__body {
    display: flex;
    align-items: center;
    column-gap: 2.6875rem;
}
.header__menu {

}
.header__button {
    padding: 0.625rem 1.3125rem;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all 0.3s;
}
.header__button:hover {
    background-color: #333;
    color: #fff;
}
.menu {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
}
.menu__item {
}
.menu__link {
}
.menu__link:hover {
    text-decoration: underline;
}
@media (max-width: 39.0625rem) {
    .header__container {
        min-height: 70px;
    }
    .header__body {
        column-gap: 1.25rem;
    }
    .header__button {
        padding: 0.625rem 0.9375rem;
    }
    .menu__list {
        column-gap: 1.25rem;
        font-size: 14px;
    }
    .header__logo {
        flex: 0 0 2.0625rem;
    }
}
/*Main page--------------------------*/

.main-section {
    min-height: 100vh;
    position: relative;
    display: flex;
}
.main-section__container {
    padding-top: 5.625rem;
    padding-bottom: 1.875rem;
    position: relative;
    z-index: 2;
    gap: 1.25rem;
    grid-template-columns: 54.320988% 1fr;
    align-items: center;
    display: grid;
    flex: 1 1 auto;
}
@media (max-width: 43.75rem) {
    .main-section__container {
        grid-template-columns: auto;
        align-content: center;
    }
}
.main-section__content {
    flex: 0 0 54.320988%;
}
.main-section__label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.main-section__label:not(:last-child) {
    margin-bottom: 0.75rem;
}
.main-section__title {
}
.main-section__video-link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
}
@media (min-width: 43.75em) {
    .main-section__video-link {
        justify-self: center;
    }
}
.main-section__video-link::before {
    content: "";
    width: 2rem;
    height: 2rem;
    flex: 0 0 2rem;
    border-radius: 50px;
    background: url(../img/BTN\ Play.svg) left no-repeat;
}
.main-section__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}
.main-section__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (max-width: 43.75rem) {
    .main-section__image img {
        opacity: 0.6;
    }
}